.colores ul h1 p a{

	color: white;
}

.google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }


    .hover-f:hover{
    	color: white;
    	transition: 0.5s;
    }

    .service-2-each:hover .service2-img .icon{
background: #b4bcbf;

    }